<footer class="mt-auto">
  <div class="container-fluid container-md"> <div class="row align-items-center">
      
      <div class="col-12 col-md-7 text-center text-md-start mb-3 mb-md-0">
        <h5 class="fw-bold mb-1">MI TIENDA FULL STACK</h5>
        <p class="text-muted small mb-0">Proyecto desarrollado bajo lineamientos empresariales.</p>
      </div>

      <div class="col-12 col-md-5 text-center text-md-end">
        <p class="text-secondary small mb-0">
          &copy; 2026 Duoc UC - Evaluación Sumativa
        </p>
      </div>

    </div>
  </div>
</footer>