<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Tienda Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/catalogo">Productos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login">Ingresar</a></li>
        <li class="nav-item"><a class="nav-link btn btn-primary text-white ms-lg-2" routerLink="/registro">Registro</a></li>
      </ul>
    </div>
  </div>
</nav>
