<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow border-0">
        <div class="card-body p-5">
          <h2 class="text-center mb-4">Iniciar Sesión</h2>
          
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" formControlName="email" 
                   placeholder="nombre@ejemplo.com">
          </div>

          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>

          <div class="text-end mb-4">
            <a routerLink="/recuperar-password" class="small fw-bold text-decoration-none">
              ¿Olvidaste tu contraseña?
            </a>
          </div>

          <button type="submit" class="btn btn-primary w-100 py-2 shadow-sm" 
                  [disabled]="loginForm.invalid">
            Entrar al Sistema
          </button>
        </form>

        <div class="mt-4 text-center">
          <p class="small text-muted">¿No tienes cuenta? 
            <a routerLink="/registro" class="text-decoration-none fw-bold">Regístrate</a>
          </p>
        </div>
  </div>
</div>